/.aw/src/vendor/
/test-folder/
/emptyfolder/
/fdjkasfjkdsahfkjdsahfsdahfkdsahfsdhafhkdsjafhkdsajkfhdsahfdskajfadjskhfkjdsahfkdsahfkdjsahfjkasdhfasdjkhfasdjkhfaskjhdasjkfhadsjkfhadsjkfhadskjhfakjsdhfaskjdhjfa/
/testwithoutgit/
