/.idea/
/.aw/app/vendor/
/1NLL/
/2ART/
/3OIU/
/4AZY/
/5NOP/
/6LOL/
/7LML/
/8DHJ/
/9AFG/
/10ZAB/
/11VWY/
/12STU/
/13PQR/
/14MNO/
/15JKL/
/16GHI/
/17DEF/
/18ABC/
/19XYZ/
/20UVW/
/21RST/
/22OPQ/
/23LMN/
/24JKL/
/25GHI/
/26DEF/
/27ABC/
/28LASQWPEIW/
/29DSALJJQWEJKLSKDQWE/
/30IWELSDKFJRICYMSXTWZDHPQWKWE/
/tic-tac-toe/