.fab {
    font-size: 22px;
}

.fa-git-square {
    color: #EB4F34;
}

.fa-js-square {
    color: #EED958;
}

.fa-laravel {
    color: #F54D2F;
}

.fa-angular {
    color: #C62936;
}

.fa-react {
    color: #50CFEF;
}

.fa-vuejs {
    color: #3BAF80;
}