.navigation-bar {
    background-color: #1D3557;
    width: 375px;
    min-width: 200px;
    max-width: 100vw;
    min-height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
    color: #fff;
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.2);
}

.navigation-bar--header {
    color: #fff;
    overflow: hidden;
}

.root-directory-path{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 2rem;
    border-radius: 20px;
}

.navigation-bar--header:hover {
    z-index: 998;
    overflow: visible;
}

.navigation-bar--header:hover .root-directory-snippet {
    z-index: 999;
}

.root-directory-snippet {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1D3557;
    padding: 10px 0;
}

.root-directory-snippet > * {
    padding: 0 .3rem;
}

.root-directory-snippet--text {
    white-space: nowrap;
}

.root-directory-path:last-child {
    padding-right: 20px;
    border-radius: 40px;
}

.labels{
    padding: 0 1rem;
    white-space: nowrap;
}

.searchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.get-back-btn {
    margin-left: 10px;
    max-width: 330px;
}

.searchbar, .get-back-btn {
    padding: 5px 10px;
}

.content-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.navigation-bar--content {
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    max-height: 70vh;
}

.navigation-bar--content a {
    color: #fff;
}

.navigation-bar--content > .project-folder-item:hover {
    background-color: #457B9D;
    cursor: pointer;
}

.project-folder-view{
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
}

.project-folder-view > * {
    padding: .2rem 2rem;
}

.project-folder-item + .selected {
    background-color: #A8DADC;
    color: #1D3557;
}

.project-folder-item .fa-folder, .project-folder-item .fa-folder {
    color: #E63946;
    margin-right: .3rem;
}

.navigation-bar--footer {
    position: absolute;
    bottom: 0;
    left: 5px;
    width: 100%;
    height: 100px;
    z-index: 999;
}

.ui-resizable-e {
    width: 15px;
    transition: background-color .5s;
    transition-delay: .1s;
    background-color: #1D3557;
}

.ui-resizable-e:hover {
    background-color: #A8DADC;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: none;
}

.highlight {
    color: #E63946;
}

#awave-version-tag {
    font-family: "Montserrat", "Helevtica", sans-serif;
    padding: 0 1rem;
    color: #69b2e0;
    position: absolute;
    bottom: 0;
    left: 0;
}
