{% set page_name = "dashboard" %}
{% include 'components/header.html.twig' with {theme, page_name } %}

{% block body %}
    <body>
    <div class="row">
        {% include 'components/navbar/nav.html.twig' %}
        {% include 'content.html.twig' %}
    </div>
    </body>
{% endblock %}

{% include 'components/footer.html.twig' %}