<hr>
<div class="dropdown">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
        <img src=".aw/assets/images/logo/logo.png" alt="" class="rounded-circle me-2" width="32"
             height="32">
        <small>.awave v1.0.0</small>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="#">
                <i class="fas fa-download"></i>
                Update
                <span class="badge bg-info">update available</span>
            </a>
        </li>
        <li><a class="dropdown-item" href="#">
                <i class="fas fa-cogs"></i>
                Settings
            </a>
        </li>
        <li><a class="dropdown-item" href="#">
                <i class="fas fa-book"></i>
                Documentation
            </a>
        </li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">
                <i class="far fa-question-circle"></i>
                Help
            </a>
        </li>
    </ul>
</div>