{% block navbar %}
    <div id="resizable" class="navigation-bar">
        <div class="navigation-bar--header">

            <div class="root-directory-snippet">
                <div class="root-directory-snippet--text">~</div>
                <i class="fas fa-chevron-right"></i>
            </div>
            {% for snippet in navigation_root_snippet %}
                <div class="root-directory-snippet">
                    <div class="root-directory-snippet--text">{{ snippet }}</div>
                    <i class="fas fa-chevron-right"></i>
                </div>
            {% endfor %}
            {% if name %}
                <div class="root-directory-snippet">
                    <div class="root-directory-snippet--text highlight">{{ name }}</div>
                </div>
            {% endif %}
        </div>
        <hr>
        <div class="navigation-bar--searchbar">
            <form class="searchbar" action="">
                <fieldset class="field-container">
                    <input type="text" placeholder="Search..." class="field"/>
                    <div class="icons-container">
                        <div class="icon-search"></div>
                        <div class="icon-close">
                            <div class="x-up"></div>
                            <div class="x-down"></div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <hr>
        <div class="navigation-bar--content">
            {% if name %}
                <a href="." class="btn btn-dark get-back-btn"><i class="fas fa-backspace"></i> Go Back</a>
            {% endif %}
            {% for project in projects %}
                <a href="?project={{ project.name }}" class="project-folder-item" onclick="selectProject()">
                    {% if project is iterable %}
                        <i class="fas fa-folder"></i>
                    {% else %}
                        <i class="fas fa-file"></i>
                    {% endif %}
                    <span>{{ project.name }}</span>
                </a>
            {% endfor %}
        </div>
        <div class="navigation-bar--footer"></div>

    </div>
{% endblock %}