{% block navbarContent %}
    <div class="navigation-bar--content">
        {% if name %}
            <div class="content-header">
                <a href="javascript:history.back()" class="btn btn-dark get-back-btn"><i class="fas fa-backspace"></i>
                    Go Back</a>
                <div class="content-header--filters">
                    <div class="filter">
                        <input class="checkbox-pop" type="checkbox" id="check2"/>
                        <label for="check2"><span></span>Include Vendor</label>
                        <i id="vendor-include-checkbox" class="fa-solid fa-circle-info" data-hover="Hello, this is the tooltip"></i>
                    </div>
                </div>
            </div>

            {% include 'components/navbar/content/nav.content.tree.html.twig' %}
        {% else %}
            {% include 'components/navbar/content/nav.content.project.html.twig' %}
        {% endif %}
    </div>
{% endblock %}